

.log_picture li{
    display: inline;
    white-space: nowrap;
}

#draw-area{
    border:2px solid coral;
    border-radius: 8px;
    text-align:center;
    margin: 0 auto;
    cursor: crosshair;
}
.log_box {
    width: 600px;
    height: 250px;
    display:flex;
    overflow-x: scroll;
    text-align:center;
    margin: 0 auto;
    border:3px solid rgb(199, 132, 8);
    padding-top: 8px;
    background-color: white;
}
.log_box img{
    width: 180px;
    height: 180px;
    padding:2vw;
    border: 1px solid #000000;
    border-radius: 8px;
}

ul {
    list-style: none;
}

.name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px auto;
    width: 90px;
    border-radius: 10px;
    background-color: white;
}
.button{
    background-color: white;
}


#players{
    text-align: center;
    margin: 10px auto;
    width: 200px;
    border: 1px solid rgb(131, 209, 209);
    border-radius: 5px;
    background-color: rgb(130, 207, 207)
}